{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">{% endblock %}
{% block content %}
    <h1>Contact Us</h1>
    <form method="post">
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
{% endblock %}