<!-- templates/login.html -->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Login</h1>
<form method="POST">
    <label>Username:</label><input type="text" name="username"><br>
    <label>Password:</label><input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>
<a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
{% endblock %}